@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=dfd964fd-d369-437f-901b-09d31a36ba2d");

@font-face {
    font-family: "News-Gothic-Condens";
    src: url("../fonts/Fonts/7d700d96-7f42-4b9c-9cca-078ad6e92834.woff2") format("woff2"),
    url("../fonts/Fonts/8b9240f4-15ca-46ac-94fb-bc6600c1560e.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "StarJedi";
    src: url("../fonts/Starjedi.ttf");
    font-display: swap;
}

:root {
    --primary-color: rgb(39, 224, 238);
    --accent-color: rgb(232, 198, 39);
    --ink: rgb(33, 33, 33);
    --vignette: hsla(0, 0%, 0%, 0.8);
    --vignette-image: hsla(0, 0%, 0%, 0.8);
    --transparent: hsla(0, 0%, 0%, 0);
}

* {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html, body {
    height: 100%;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "News-Gothic-Condens", sans-serif;
    color: var(--primary-color);
}

.h1,
h1 {
    font-size: 3.177rem;
    transition: font-size 300ms ease-in-out;
}

@media screen and (max-width: 120ch) {
    h1 {
        font-size: 2.618rem;
    }
}

.h2,
h2 {
    font-size: 2.618rem;
}

.h3,
h3 {
    font-size: 1.963rem;
    line-height: 2.618rem;
}

.h4,
h4 {
    padding-top: 0.382rem;
    font-size: 1.618rem;
    line-height: 2.618rem;
    font-feature-settings: "smcp";
}

.h5,
h5 {
    font-size: 1.214rem;
    line-height: 1.5rem;
    font-feature-settings: "smcp";
}

p,
.p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--ink);
}

nav a:link,
nav a:visited {
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 0 solid var(--primary-color);
    transition: border-bottom-width 150ms ease-in-out;
}

nav a:hover {
    border-bottom-width: 0.25rem;
}

ul {
    list-style-type: none;
}

nav {
    max-width: 120ch;
    width: 100%;
    padding: 1rem 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: var(--ink);
    box-shadow: 0 0 3rem 0rem var(--vignette);
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-size: 2.618rem;
    text-align: center;
    transition: font-size 300ms ease-in-out;
}

@media screen and (max-width: 120ch) {
    nav ul{
        font-size: 1.618rem;
    }
}

img {
    display: block;
    object-fit: cover;
}

button,
iframe,
input,
select,
textarea {
    border: none;
}

.full-screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vignette {
    box-shadow: 0px 0px 15vw 4vw inset var(--vignette);
    pointer-events: none;
    background-image: radial-gradient(circle at center, var(--transparent) 0 , var(--transparent) 50vmin, var(--vignette-image) 66vmax);
    transition: --vignette-image 2s;
}


@media screen and (min-width: 801px){
    .vignette{
        --vignette-image: hsla(225, 100%, 50%, 0.5);
    }
}

@media screen and (min-width: 1600px){
    .vignette{
        --vignette-image: hsla(225, 100%, 50%, 1);
    }
}

@media screen and (max-width: 800px){
    .vignette{
        --vignette-image: hsla(225, 100%, 50%, 0.2);
    }
}

.bigger {
    font-size: 1.214em;
}

.smaller {
    font-size: .75em;
}

.tabular-numbers {
    font-feature-settings: "tnum";
}

.fixed {
    position: fixed;
}

.logo {
    font-family: StarJedi;
    font-size: 10vmax;
    line-height: 1;
    color: var(--accent-color);
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0.25vw 0.25vw 2vw,
    rgba(0, 0, 0, 0.25) -0.25vw -0.25vw 2vw,
    rgba(0, 0, 0, 0.25) -0.25vw 0.25vw 2vw,
    rgba(0, 0, 0, 0.25) 0.25vw -0.25vw 2vw,
    rgba(0, 0, 0, 0.5) 0vw 0vw 0.25vw,
    black 0vw 0vw 5vw;
    word-spacing: -0.3em;
    transition: font-size 0ms;
}

main {
    width: 80ch;
    max-width: 100%;
}

hr {
    height: 1rem;
    width: 80ch;
    max-width: 100%;
    margin-bottom: 2rem;
    border: none;
    background-color: rgb(39, 224, 238);
}

.floating-nav {
    position: absolute;
    top: 0;
}

.video-js-container {
    width: 100%;
    height: 100%;
    max-width: 80vw;
    max-height: 50vw;
    margin-top: 6rem;
}
